{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block title%}Welcome {% endblock %}
{% block body %}
    <h1>{{ settings.my_name }}</h1>
    <p> {{ settings.my_job }}</p>
    <div id="info">
        {{ settings.my_description }}
    </div>
    <div id="social">
    {% for net in networks %}
        <a href="{{ net.url }}" target="_blank">
                {% thumbnail net.icon "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
        </a>
    {% endfor %}
    </div>
{% endblock %}